.customForm {
  margin: 1rem auto 1.5rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.customForm input,
.customForm button {
  box-shadow: unset;
  outline: unset;

  height: 36px;
  padding: 5px 10px;

  font-size: 16px;
  line-height: 20px;
}

.customForm input {
  background-color: unset;
  border: 1px solid #c3c3c3;
  border-right: unset;
  color: #222;
  font-family: "Poppins", sans-serif;

  border-radius: 8px 0 0 8px;

  width: 40%;
  padding: 5px 15px;
}

.customForm input::placeholder {
  color: #222;
  opacity: 0.4;
}

.customForm button {
  border: unset;
  cursor: pointer;

  height: 48px;

  border-radius: 0 8px 8px 0;
  width: 18%;

  background-color: #222;

  color: #fff;
  font-weight: 600;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.customForm button:hover {
  opacity: 0.95;

  transition: all 0.3s;
}

.customForm button[disabled] {
  cursor: not-allowed;
  pointer-events: unset;
}

.customForm .buttonLoading {
  display: flex;
}

/* Loader */
@import "./loader.css";

@media screen and (max-width: 1026px) {
  .customForm input {
    width: 100%;
  }

  .customForm button {
    width: 45%;
  }
}
