body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif, sans-serif;
  color: #222;

  font-size: 16px;
  line-height: 24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
